:root{
    --blanco: #ffffff;
    --oscuro: #212121;  /*Variables en css*/
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;/*1 rem = 10 px*/
    font-family: "Krub", sans-serif;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase; /*Se aplica para pantallas debajo de 768px*/
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px){
    .boton{  /*Esto se aplica para pantallas arriba de 768px*/
        width: auto;
    }
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-family: "Krub", sans-serif;
}

.titulo span{
    font-size: 2rem; 
}

.contenedor{
    max-width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    /*Tambien se puede utilizar
    margin: 0 auto 0 auto;
    */
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
   
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

@media (min-width: 768px){
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none; /*Para quitar la linea debajo de los links*/
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem; /*Lo interprete en las 4 direcciones*/
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url(../img/hero.jpeg);
    background-repeat: none;
    background-size: cover;
    height: 450px;
    position: relative;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-hero h2, .contenido-hero p{
    color: var(--blanco);
}

.ubicacion{
    display: flex;
    align-items: flex-end;
}