*{
    box-sizing: border-box;
    margin: 0px;
}

p{
    font-size: 18px;
    color: #828282;
}

.especial {
    background-color: blue;
    text-decoration: solid;
}

#importante{
    background-color: #ff0000;
    color: #FFFFFF;
}

input[placeholder]{
    border-color: #0000ff;
    padding: 5px;
}

input[type="password"]{
    background-color: #828282;
}